<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://use.fontawesome.com/eb9e507ca2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        // Socket logic
      });

    </script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container-fluid" id="content-container">
      <div class="row">
        <div class="col-1-sm"></div>
        <div class="col-5-sm">
          <div class="container-fluid">
            <h1>Register</h1>
            <div class="container-fluid" id="reg">
              <form action="/register" method="post">
                <% if (errors.first_name) { %>
                  <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong><%= errors.first_name %></strong>
                  </div>
                  <% } %>
                    <input type="text" name="fname" class="form-control" placeholder="First Name">
                    <% if (errors.first_name) { %>
                      <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong><%= errors.last_name %></strong>
                      </div>
                      <% } %>
                        <input type="text" name="lname" class="form-control" placeholder="Last Name">
                        <% if (errors.email) { %>
                          <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong><%= errors.email%></strong>
                          </div>
                          <% } %>
                            <input type="email" name="email" class="form-control" placeholder="Email">
                            <% if (errors.phone) { %>
                              <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong><%= errors.phone %></strong>
                              </div>
                              <% } %>
                                <input type="tel" name="phone" class="form-control" placeholder="Telephone Number">
                                <% if (errors.dob) { %>
                                  <div class="alert alert-danger alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong><%= errors.dob %></strong>
                                  </div>
                                  <% } %>
                                  <input type="text" name="dob" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Birth Date">
                                  <% if (errors.password) { %>
                                    <div class="alert alert-danger alert-dismissable">
                                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                      <strong><%= errors.password %></strong>
                                    </div>
                                    <% } %>
                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                    <input type="password" name="confirm" class="form-control" placeholder="Confirm Password">
                                    <button type="submit" class="btn btn-primary btn-block">Register!</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-1-sm"></div>
        <div class="col-4-sm">
          <div class="container-fluid" id="log">
            <h1>Login</h1>
            <% if (errors.invalid_login) { %>
              <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><%= errors.invalid_login %></strong>
              </div>
              <% } %>
            <form action="/login" method="post">
              <input type="text" name="lemail" class="form-control" placeholder="Email">
              <input type="password" name="lpassword" class="form-control" placeholder="Password">
              <button type="submit" class="btn btn-primary btn-block">Login!</button>
            </form>
          </div>
        </div>
        <div class="col-1-sm"></div>
      </div>
    </div>
</html>
